<!DOCTYPE html>
<html lang="en">

<head>
 {% include "basehead.html" %}
 {% block head%}
 {% endblock %}
</head>

<body>

 
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">nsphub</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">

    <li><a href="/">Home</a></li>
    <li><a href="/article">Article</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/about">About</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">

    <li><a href="/">Home</a></li>
    <li><a href="/article">Article</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/about">About</a></li>
  </ul>

 {{content | safe}}
</body>

</html>
